.header {
    background: #333;

    .sub-header {
        max-width: 1024px;
        margin: 0 auto;
    }

    .logo {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight:  bold;
        font-size: 26px;
        color: #ccc;
    }

    .nav-bar {
        height: 60px;
        display: flex;

        border-top: 1px solid #272727;
        box-shadow: 1px 3px 3px rgba(#000, .1);

        .link {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 18px;
            color: #ccc;
            text-decoration: none;

            transition: all linear .28s;

            &::before {
                content: "";
                position: absolute;
                bottom: 1px;
                left: 1px;
                width: 0;
                height: 1px;
                background-color: #1395BE;

                transition: all linear .28s;
            }

            &:hover,
            &[data-actif="true"] {
                color: #1395BE;

                &::before {
                    width: 100%;
                }
            }
        }
    }


    @media (min-width: 960px) {
        .sub-header {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
        }

        .nav-bar {
            height: 70px;
            border-top: 0px;
            box-shadow: none;
    
            .link {
                width: inherit;
                margin-left: 20px;
    
                &::before {
                    display: none;
                }
            }
        }

    }
}