.offer-item {
    background-color: #333;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(#000, .2);
    text-decoration: none;
    display: block;
    min-height: 180px;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    transition: all linear .28s;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        color: #ccc;
        margin-bottom: 20px;
    }
    .middle {
        margin-bottom: 20px;
        height: 100%;

        .description {
            font-size: 16px;
            color: #ccc;
            margin-bottom: 10px;
        }
        .company {
            position: relative;
    
            font-size: 12px;
            font-weight: 600;
            color: #1395BE;
            padding-left: 10px;
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: #1395BE;
                height: 5px;
                width: 5px;
                border-radius: 50%;
            }
        
        }
    }

    .actions {

        .link {
            display: block;
            color: #ccc;
            text-decoration: none;
            height: 40px;
            border-radius: 3px;
            width: 100%;
            background-color: #1395BE;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 1px 5px rgba(#000, .2);
            border: 1px solid #1395BE;
    
            transition: all linear .28s;
    
            &:hover {
                background-color: darken(#1395BE, 10);
                border-color: darken(#1395BE, 10);
            }

            &:nth-child(2) {
                margin-top: 10px;
                background-color: transparent;
                border: 1px solid #1395BE;
                color: #1395BE;

                &:hover {
                    background-color: #1395BE;
                    border-color:#1395BE;
                    color: #fff;
                }
            }
        }
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 5px 5px 5px rgba(#000, .2);
    }
}