<div class="main-container">

  <header>
    <div class="logo">Anti Gaspi</div>
    <nav>
      <a href="#" class="actif">Annonces</a>
      <a href="#">Ajouter une annonce</a>
    </nav>
  </header>

  <div class="container">
    <div class="annonces">
        <div class="annonce">
          <h2 class="title">Soat - test annonce</h2>
          <p class="description">description incroyable de mon annonce, de vente de chaise, dossier en clous</p>
          <p class="entreprise">Soat</p>
          <a href="#" class="btn">Contacter</a>
        </div>
    </div>
  </div>

</div>