.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    header {
        background: #1f1f1f;
        border-bottom: 1px solid #2c2c2c;
    
        .logo {
            padding: 20px 0;
            color: #ccc;
            font-size: 28px;
            font-weight: bolder;
            text-align: center;
        }
    
        nav {
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border-top: 1px solid #2c2c2c;
    
            a {
                position: relative;
                color: #FFF;
                font-size: 20px;
                text-decoration: none;
                transition: all linear .28s;
                margin: 0 10px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background: #EC3B04;
                    transition: all linear .28s;
                }
    
                &:hover, &.actif {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    .container {
        background-color: orange;
        height: 100%;
        padding: 20px;
        overflow-y: auto;

        .annonces {

            .annonce {
                padding: 10px;
                background-color: blue;
                border-radius: 5px;
                color: #CCC;

                .title {
                    background-color: green;
                    margin-bottom: 15px;
                    font-size: 24px;
                }

                .description {
                    background-color: goldenrod;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                .entreprise {
                    background-color: orangered;
                    position: relative;
                    font-size: 18px;
                    padding-left: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0; top: 50%;
                        transform: translateY(-50%);
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: #CCC;
                    }
                }
            }
        }
    }
}